<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<app-product-list [currency]="currentCurrency"></app-product-list>
<app-currency (selectedCurrency)="collectCurrency($event)"></app-currency>
<h1>Template Driven Form</h1>
<app-template-driven></app-template-driven>
<h1>Model Driven Form</h1>
<app-model-driven></app-model-driven>
<h1>Dynamic Form</h1>
<app-dynamic-forms></app-dynamic-forms>